.main{
  width: 100%;
  min-height: 100vh;
  padding: 50px 15px;

  &__form{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    justify-content: flex-end;
    background-color: $black;
  }

  &__fieldset{
    width: 100%;
    max-width: 600px;
    border: none;
  }

  &__title{
    padding: 5px;
    @include fonts('Roboto', 700, 2em, $yellow);
    line-height: 1.3em;
    letter-spacing: 0.1em;
    background-color: $gray;
    border-bottom: 3px dashed $lightGray;
  }

  &__wrap{
    padding: 30px 5px;
    background-color: $gray;

  }

  &__subtitle{
    margin-bottom: 30px;
    @include fonts('Roboto', 700, 1.3em, $yellow);
    line-height: 1.3em;
    letter-spacing: 0.1em;
  }

  &__box{
    margin-bottom: 20px;
    height: 40px;
    position: relative;
    &--btn{
      height: 50px;
      margin-bottom: 0;
    }

    &--bottom{
      margin-bottom: 40px;
    }
  }

  &__label{
    height: 100%;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__description{
    color: $white;
  }

  &__input{
    width: 300px;
    height: 100%;
    padding: 0 25px 0 15px;
    @include fonts('Roboto', 400, 1.2em, black);
    line-height: 1.3em;
    border: 1px solid transparent;
    border-radius: 3px;
  }

  &__select{
    cursor: pointer;
  }

  &__btn{
    width: 170px;
    height: 50px;
    border: 1px solid transparent;
    background-color: $lightGray;
    @include fonts('Roboto', 700, 1.3em, $yellow);
    line-height: 1.3em;
    letter-spacing: 0.1em;
    cursor: pointer;
    @include transition(0.3s);
    &:hover{
      background-color: $black;
    }
  }

  &__left{
    padding-left: 15px;
  }

  &__placeholder{
    position: absolute;
    left: 275px;
    color: $placeholder;
    opacity: 0.8;
    font-size: 1em;
    font-family: "Roboto";
    font-style: italic;
    cursor: text;
  }
}

.main__input:focus + :last-child{
  font-size: 0.7em;
	top: -3px;
}

.has_value + :last-child {
	font-size: 0.7em;
	top: -3px;
}
