$black: #333;
$white: #fff;
$logo: #cd2b2d;
$red: #dc0000;
$backgroundItemOver: rgba(0,0,0,0.5);
$gray: #878787;
$formText: #777;
$formAfter: #000;
$blogSubtitle: #5c5c5c;
$blogText: #9a9a9a;
$blogTextBorder: #ecf0f1;
$borderCheck: #afafaf;
