$black: #222;
$white: #fff;
$logoLine: #07a9f4;
$navLink: #fffefe;
$scroll: #8096a0;
$shadow: rgba(0,0,0,0.7);
$shadowWhite: rgba(225,225,225, 0.7);
$placeholder: #676767;
$borderInput: #afafaf;
$scrollBg: rgba(7,169,244,0.8);
