.footer{
  width: 100%;
  padding: 50px 235px;
  background-color: $backgroundIcon;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;

  &__question{
    width: 100%;
    max-width: 560px;
    margin-bottom: 30px;

    &__title{
      font-family: 'Montserrat';
      font-weight: bold;
      font-size: 30px;
      line-height: 48px;
      text-transform: uppercase;
      color: $icon;
      padding-bottom: 20px;
    }

    &__btn{
      width: 165px;
      height: 50px;
      background-color: $icon;
      border: 1px solid transparent;
      font-family: 'Montserrat';
      font-weight: bold;
      font-size: 14px;
      text-transform: uppercase;
      color: $backgroundIcon;
      cursor: pointer;

      &:hover{
        border-color: $headerText;
      }


    }
  }

  &__form{
    width: 100%;
    max-width: 560px;
    padding: 20px;
    background-color: $icon;
    position: relative;

    &__title{
      font-family: 'Montserrat';
      font-weight: bold;
      font-size: 24px;
      line-height: 36px;
      text-transform: uppercase;
      color: $headerText;
    }

    &__text{
      font-family: 'Open Sans';
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: $footerText;
      padding-bottom: 20px;
    }

    &__input{
      width: 100%;
      height: 50px;
      padding: 0 135px 0 20px;
      border: 1px solid $input;
      font-family: 'Mostserrat';
      font-size: 14px;
      line-height: 48px;
      color: $headerText;

      &:focus{
        border-color: $headerText;
      }


    }

    &__btn{
      width: 135px;
      height: 50px;
      border: 1px solid transparent;
      font-family: 'Montserrat';
      font-weight: bold;
      font-size: 14px;
      line-height: 48px;
      text-transform: uppercase;
      background-color: $backgroundIcon;
      color: $icon;
      position: absolute;
      right: 20px;
      bottom: 20px;
      cursor: pointer;

      &:hover{
        opacity: 0.8;
      }

    }
  }
}

::-webkit-input-placeholder{
  font-family: 'Mostserrat', sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 48px;
  color: $input;
  text-transform: uppercase;
}
