.section-three{
  width: 100%;
  padding: 0 220px 150px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  color: $headerText;

  &__content{
    width: 100%;
    max-width: 390px;
    margin-bottom: 50px;
    padding: 0 15px;
  }

  &__box{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 15px;

  }

  &__icon{
    width: 40px;
    height: 40px;
    margin-right: 20px;
    background-color: $backgroundIcon;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__ion{
    font-size: 30px;
    color: $icon;
  }

  &__title{
    padding: 0 5px;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 18px;
    line-height: 48px;
    text-transform: uppercase;
  }

  &__text{
    font-family: 'Open Sans';
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
  }
}
