//----------container---------
$containerBackground: #d0d0d2;

//---------content---------
$contentBackground: #111a28;

$starsGray: #9da1a6;
$starsGold: #f7bf16;

$btn: #202835;
$btnHover: #389be6;

$title: #e1e1e1;
$text: #49505a;

$border: #4f5560;

$radioBlue: #1f273f;
$radioWhite: #ffffff;
$radioRed: #ed3333;
$radioLightBlue: #29e3ea;
