@font-face{

font-family: 'MuseoSansLight';

src: url('../fonts/MuseoSansLight.eot');

src: url('../fonts/MuseoSansLight.eot?iefix') format('eot'),

url('../fonts/MuseoSansLight.woff') format('woff'),

url('../fonts/MuseoSansLight.ttf') format('truetype'),

url('../fonts/MuseoSansLight.svg#webfont') format('svg');

font-weight: normal;

font-style: normal;

}
