$black: #262626;
$gray: #9d9d9d;
$white: #fff;
$btnFreshLite: #ff6033;
$green: #00b1b1;
$blue: #70bfff;
$yellow: #ffe92f;
$btnGallery: #5585a2;
$btnSubscribe: #96b92c;
$violet: #b07cf7;
$btnBlog: #f72b3b;
$inputContact: rgba(0, 169, 169, 0.5);
$inputContactFocus: rgba(0, 196, 196, 1);
$btnContact: #8f9829;
$inputBorder: #355b82;
$pink: #ff2b58;
$galleryBackgroungImg: #00c4c4;
