body{
  font-size: 14px;
  font-family: “Trebuchet MS”, Trebuchet, Arial, sans-serif;
  color: #fff;
  background-color: #393D43;
}

*,
*:before,
*:after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*-------------------container------------------------------------------------*/

.container{
  width: 100vw;
  min-height: 100vh;
}

/*-------------------hreder---------------------------------------------------*/

.header{
  border: 15px solid #fff;
  border-bottom: none;
  background-color: #494E55;
  padding: 25px 15px;
  text-align: center;
  color: #EA8082;
}

.header__title{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.header__description{
  font-size: 20px;
}

/*------------------main------------------------------------------------------*/

.main{
  border-left: 15px solid #fff;
  border-right: 15px solid #fff;
  min-height: calc(100vh - 117px - 78px);
  padding: 70px 15px;
}

.section__item:first-child{
  background-color: #88839E;
}

.section__item:nth-child(2n){
  background-color: #7A7593;
}

.section__item:nth-child(3){
  background-color: #88839E;
}

.section__item:nth-child(5){
  background-color: #88839E;
}

.section__item:last-child{
  background-color: #7A7593;
}

.section{
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.section__label{
  display: block;
  padding: 15px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}

.section__label:hover{
  background-color: #625F77;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.section__input:checked ~ span{
  text-decoration: line-through;
  color: #B5B6C6;
}

.section__title{
  font-size: 16px;
}

.section__descriptor{
  font-size: 12px;
  color: #B5B6C6;
}

.main__text{
  font-size: 20px;
  background-color: #494E55;
  padding: 25px 15px;
  text-align: center;
  color: #EA8082;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 30px;
}

/*--------------------footer--------------------------------------------------*/

.footer{
  background-color: #393D43;
  border: 15px solid #fff;
  border-top: none;
