<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Layout</title>
  <link rel="stylesheet" href="styles/style.css">
</head>
<body>
  <div class="container">
    <header class="header">
      <p class="header__text text--center">.ba-header</p>
    </header>
    <section class="section__group">
      <P class="section__group__title text--center">section.ba-group</P>
      <section class="section__left">
        <p class="section__title text--center">section.ba-left</p>
        <p class="section__text text--center">float: left;</p>
      </section>
      <aside class="section__right">
        <p class="section__title text--center">aside.ba-right</p>
        <p class="section__text text--center">float: right;</p>
      </aside>
    </section>
    <div class="ba__box">
      <p class="ba__box__text text--center">div.ba-box</p>
    </div>
    <div class="ba__col">
      <p class="ba__col__text text--center">div.ba-col</p>
    </div>
    <div class="ba__col ba__col--rl">
      <p class="ba__col__text text--center">div.ba-col</p>
    </div>
    <div class="ba__col">
      <p class="ba__col__text text--center">div.ba-col</p>
    </div>
    <footer class="footer">
      <p class="footer__title text--center">.ba-footer</p>
      <p class="footer__text text--center">clear: both;</p>
    </footer>
  </div>
</body>
</html>
