$black: #000;
$white: #fff;
$blackText: #333b46;
$blackFilter: #464646;
$grayText: #81868e;
$overlay: rgba(0, 0, 0, 0.5);
$overlayCta: rgba(0, 0, 0, 0.8);
$overlayWhite: rgba(225,225,225,0.7);
$green: #19bd9a;
$background: #f3f3f3;
$darkBlue: #29273d;
$instagram: #3f729b;
$facebook: #3b5998;
$twitter: #26a6d1;
$linkedin: #0e76a8;
$vimeo: #86c9ef;
