.header{
  position: relative;
  width: 100%;
  height: 100vh;

  &__background{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  &__overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $overlay;
  }

  &__container{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 38px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &__navbar{
    width: 100%;
    min-height: 40px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__navbar-scroll{
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 40px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $green;
    border-bottom: 1px solid darken($green, 15%);
    opacity: 0;
    @include transition;
    z-index: 10;
    @media(max-width: 600px){
      display: none;
    }
    &.is-visible {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &__logo{
    min-width: 118px;
    height: 20px;
    margin-right: 15px;
    overflow: hidden;
  }

  &__nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media(max-width: 600px){
      display: none;
    }
  }

  &__nav-mobail{
    display: none;
    position: absolute;
    top: 77px;
    width: 100%;
    max-width: 600px;
    background-color: $green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    
    &--active{
      display: flex;

    }
  }
  &__item-mobail{
    width: 100%;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.05em;
    color: $white;
    border-bottom: 1px solid darken($green, 15%);

    &--active{
      background-color: darken($green, 10%);
    }
  }

  &__nav-item{
    width: 80px;
    height: 34px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 17px;
    text-decoration: none;
    letter-spacing: 0.05em;
    color: $white;
    @include transition;

    &:first-of-type{
      margin-left: 0;
    }
    &:hover,
    &--active{
      border: 1px solid $white;
    }
  }

  &__content{
    width: 100%;
    max-width: 630px;
    text-align: center;

  }

  &__title{
    margin-bottom: 40px;
    font-family: 'Source Sans Pro';
    font-weight: 200;
    font-size: 35px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: $white;
  }

  &__description{
    font-size: 16px;
    line-height: 1.75em;
    letter-spacing: 0.05em;
    color: $white;

  }

  &__scroll{
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $green;
    font-size: 16px;
    text-decoration: none;
    @include transition;
    &:hover{
      background-color: darken($green, 15%);
    }
  }
}

.fa-angle-down{
  color: $white;
  font-size: 16px;
}
