@font-face{
  font-family: "miso";
  src: url("../fonts/miso/miso.otf")format("otf");
  font-style: normal;
  font-weight: normal;
}

@font-face{
  font-family: "miso-bold";
  src: url("../fonts/miso/miso-bold.otf")format("otf");
  font-style: normal;
  font-weight: normal;
}

@font-face{
  font-family: "LatoLight";
  src: url("../fonts/LatoLight/LatoLight.eot");
  src: url("../fonts/LatoLight/LatoLight.eot?#iefix")format("embedded-opentype"), url("../fonts/LatoLight/LatoLight.woff")format("woff"),
  url("../fonts/LatoLight/LatoLight.ttf")format("ttf");
  font-style: normal;
  font-weight: normal;
}

*{
  font-family: "miso", "miso-bold", "LatoLight", Arial,  sans-serif;
}
