//----------container----------
$containerBackground: #464f54;

//----------header----------
$headerBackground: #181818;
$headerTitle: #767676;
$headerTitle2: #fefefe;
$headerLine: rgba(48,48,48,0.8);
$headerSlesh: #afb1b3;

//----------nav----------
$navBackground: #f0b72b;
$navIcons: rgba(255,255,255,0.5);

//----------content----------
$contentBackground: #ffffff;
$contentEmptyBorderRight: #e8eced;
$contentTitle: #b4b4b4;
$contentTitle2: #2a2a2a;
$contentTitle3: #8f8f8f;
$contentText: #000000;
