//----------header
$headerBackground: #eee;
$headerText: #303030;
$headerText2: #e10011;
$headerIcon: #000;
$headerHoverLink: #fff;
$headerHoverBtn: #e10011;

//----------sections
$contentBackground: #fff;
$sectionText: #030303;
$overlay-link: #fff;
$item-overlay: rgba(225,0,17,.8);

//----------footer
$footerText: #303030;
$footerCopy: #979797;
$btn: #e10011;
