.header{
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0 15px;
  background: url(../img/header/HERO-Img.png) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  &__wrap{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &__menu{
    width: 24px;
    height: 24px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
    border: none;
    outline: none;
    @media (max-width: 550px){
      display: flex;
    }
  }


  &__line{
    width: 30px;
    height: 4px;
    background-color: $scroll;
    border-radius: 1px;
  }

  &__head{
    width: 100%;
    max-width: 1170px;
    padding: 0 15px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 800px){
      flex-direction: column;
      align-items: center;
    }
    @media (max-width: 550px){
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  &__logo{
    width: 100%;
    max-width: 109px;
    @media (max-width: 800px){
      margin-bottom: 30px;
    }
    @media (max-width: 550px){
      margin-bottom: 0;
    }
  }

  &__nav{
    @media (max-width: 550px){
      display: none;
      padding-right: 0;
    }
  }

  &__content{
    text-align: center;
  }

  &__title{
    position: relative;
    @include fonts('Raleway', 48px, $white);
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 50px;
    margin-bottom: 40px;
    @media (max-width: 568px){
      padding-bottom: 20px;
      margin-bottom: 20px;
      font-size: 36px;
    }

    &::after{
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%);
      content: '';
      width: 86px;
      height: 2px;
      background-color: $white;
    }
  }
  &__description{
    @include fonts('Lato', 22px, $navLink);
    font-weight: 400;
    line-height: 1.36em;
    letter-spacing: 0.05em;
    @media (max-width: 568px){
      font-size: 18px;
    }
  }

  &__scroll{
    position: relative;
    display: inline-block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    text-decoration: none;
    @include transition;
  }
}
.fa-angle-down{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 45px;
  color: $scroll;
  animation: upDown 3s infinite;
  animation-timing-function: ease-in-out;
  @include transition;
}

//----------nav----------
.nav{
  &--open {
    display: block;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
  &__group{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    @media (max-width: 550px){
      flex-direction: column;
    }
  }
  &__item{
    display: inline-block;
    margin-left: 50px;
    @media (max-width: 665px){
      margin-left: 20px;
    }
    @media (max-width: 550px){
      width: 150px;
      height: 40px;
      margin-left: 0;
      margin-bottom: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $scrollBg;
      border-radius: 4px;
      box-shadow: inset 0 0 2px 2px $black;
    }
    &:first-child{
      margin-left: 0;
    }
  }
  &__link{
    @include fonts('Conv_Lato-Medium', 14px, $navLink);
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px $black;
    @include transition;
    &:hover{
      color: $logoLine;
    }
  }
}

//----------logo

.logo{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-right: 15px;
  @media(max-width: 800px){
    margin-right: 0;
  }
  &__group{
    display: flex;
    flex-direction: column;
    margin-right: 5px;
  }
  &__line{
    display: block;
    width: 15px;
    height: 3px;
    background-color: $logoLine;

    &--small{
      width: 10px;
      margin: 4px 0;
    }
  }
  &__text{
    @include fonts('Conv_Lato-Medium', 20px, $navLink);
    text-transform: uppercase;
    letter-spacing: 0.025em;
  }
}
